.scroll-container {
  height: 20px;
}

.scrollTop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 250px 0 250px;
  position: relative;
  width: 40px;
  height: 40px;
  transform: translateY(-80px) rotate(225deg);
  cursor: pointer;
}

.scrollTop span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--mainWhite);
  border-right: 2px solid var(--mainWhite);
  animation: animate 1.5s linear infinite;
}

.scrollTop span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}

.scrollTop span:nth-child(2) {
  transform: translate(0, 0);
  animation-delay: -0.2s;
}

.scrollTop span:nth-child(3) {
  transform: translate(15px, 15px);
  animation-delay: 0;
}

@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%,
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}
